.formContainer {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  .submitBtn {
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
  }
  