.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height:auto;
    margin-bottom:100px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    flex: 1; /* Pushes the footer down */
  }
  
  .card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  .footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
  }