.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #007bff, #00bcd4);
  padding: 15px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
 
    width: 80px;
    height: auto;
  
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navItem {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease-in-out, transform 0.2s;
}

.navItem:hover {
  color: #ffeb3b;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    display: none;
  }
}
