.logoutButton {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
  }
  
  .logoutButton:hover {
    background: #e60000;
  }
  
  .icon {
    font-size: 18px;
  }
  