.hero {
  background: url('/images/village2.jpg') no-repeat center center/cover;
  padding: 150px 0;
}

.cta {
  background: linear-gradient(to right, #28a745, #218838);
  padding: 60px 0;
}

.card {
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.body {
  padding-top: 70px; /* Adjust based on navbar height */
}

.customtitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c5f2d; /* Deep Green */
  font-family: 'Garamond', serif;
  background: linear-gradient(to right, rgba(212, 237, 218, 0.7), rgba(255, 255, 255, 0.7)); /* Increased transparency */
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.customsubtitle {
  font-size: 1.3rem;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.2));
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}
